body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-180deg, white, #f3e5ff);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sellerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    max-height: 50%;
}

.sellerContainer img {
    width: 280px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.sellerContainer h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    margin-bottom: 20px;
}

.sellerContainer input {
    border-color: #5600CF;
    border-radius: 16px;
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-width: 1px;
    width: 60%;
}

.sellerContainer select {
    position: relative;
    right: 100px;
    margin-bottom: 3%;
    background-color: white;
    border-color: #5600CF;
    border-radius: 8px;
    padding: 3px;
}

.conditions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
}

.conditions input {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 0px;
}

.conditions label {
    font-family: Arial;
    position: relative;
    left: 10px;
}

.conditions a {
    text-decoration: none;
}

.conditions label:hover a {
    text-decoration: underline;
}

.cadas {
    background-color: #9900cc;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    padding: 3% 5%;
    border: none;
    margin-bottom: 2%;
    font-size: 16px;
}

.loginlink {
    margin-bottom: 0px;
}

.loginlink a {
    font-family: Arial;
    text-decoration: none;
    margin-bottom: 1%;
}

.loginlink a:hover {
    text-decoration: underline;
}

Button:hover {
    background-color: #7a00a3;
}

footer{

    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 64px 64px 0 0;
  
    
}

footer a{
    text-decoration: none;
    color: #9900cc;
    margin-left: 16px;
}

footer a:hover{
    text-decoration: underline;
}

/* Estilização para dispositivos móveis */
@media (max-width: 768px) {

    footer{
        
        font-size: 12px;
        
        
    }
    .sellerContainer {
        max-width: 70%;
        padding: 20px;
        height: auto;
    }

    .sellerContainer input {
        width: 100%;
        margin: 8px 0;
    }

    .sellerContainer select {
        position: relative;
        right: 125px;
        width: 20%;
    }

    .cadas {
        width: 50%;
        padding: 12px;
        font-size: 14px;
    }

    .sellerContainer h1 {

        font-size: 20px;

    }

    .conditions {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .conditions input {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0px;
        right: 10px;
    }
    
    .conditions label {
        font-family: Arial;
        position: relative;
        left: 20px;
        bottom: 20px;
    }

    .sellerContainer img {
        width: 318px;
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1518px){

    .sellerContainer {
        max-width: 70%;
        padding: 20px;
        height: auto;
    }

    .sellerContainer input {
        width: 50%;
        margin: 8px 0;
    }

    .sellerContainer select {
        position: relative;
        right: 60px;
        width: 20%;
    }

    .cadas {
        width: 50%;
        padding: 12px;
        font-size: 18px;
    }


    .conditions {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .conditions input {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0px;
        right: 10px;
    }
    
    .conditions label {
        font-family: Arial;
        position: relative;
        left: 20px;
        bottom: 20px;
    }

    .sellerContainer img {
        width: 318px;
        max-width: 100%;
        height: auto;
    }

}