body {

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    
    background: linear-gradient(-180deg, white, #f3e5ff);

}

.historicoContainer {

    display: flex;
    justify-content: space-around;
    align-self: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 16px 16px;
    width: 80%;
    padding: 1%;
    margin-bottom: 15%;

}

.historicoContainer img {

    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;


}

.select {

    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    padding: 1%;

}

.select a {

    text-decoration: none;
    color: #9900cc;

}

.select a:hover {

    text-decoration: underline;

}

.midHistoricoContainer {

    display: flex;

    justify-content: center;
    min-height: 50%;
    min-width: 50%;
    border-width: 1px;
    border: 1px;


}