body {

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(-180deg, white, #f3e5ff);

}

body h1{
    text-align: center;
}

.certifyColecContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 64px 64px;
    width: 98%;
    padding: 1%;
    margin-bottom: 10%;

}

.certifyColecContainer img {

    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;


}

.navListColecCertify {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.certifyColecContainer a {

    text-decoration: none;
    color: #9900cc;

}

.certifyColecContainer a:hover {

    text-decoration: underline;

}



@media (max-width: 820px){

    .certifyColecContainer{
        display: flex;
        flex-direction: column;
    }

    .navListColecCertify{

        width: 90%;
        display: flex;
        justify-content: space-between;

    }

    .navListColecCertify li {

        letter-spacing: 0;
        font-size: 14px;

    }

}
