body {

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(-180deg, white, #f3e5ff);

}

body h1 {

    font-weight: initial;
    text-align: center;

}

.acompColecContainer {

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 64px 64px;
    width: 98%;
    padding: 1%;
    margin-bottom: 1%;

}

.acompColecContainer img {

    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;


}

.acompColecContainer a {

    text-decoration: none;
    color: #9900cc;

}

.acompColecContainer a:hover {

    text-decoration: underline;

}

.textDetailsColec {
    align-self: center;
    padding-left: 100px;
    text-align: left;

}

.textDetailsColec2 {
    align-self: center;
    padding-right: 180px;
    text-align: left;
    margin-bottom: 1%;
}


footer {
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 64px 64px 0 0;
}

footer a {
    text-decoration: none;
    color: #9900cc;
    margin-left: 16px;
}

footer a:hover {
    text-decoration: underline;
}


.navListAcompColec {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#map {
    align-self: center;
    height: 600px;
    width: 400px;
    max-width: 60%;
    max-height: 50%;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
}

.button-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 2%;
    text-align: center;
    /* Add some space above the buttons */
}

.button-container button {
    margin: 14px;
    text-align: center;
    /* Space between buttons */
    padding: 10px;
    /* Padding for buttons */
    border: none;
    /* Remove default border */
    border-radius: 16px;
    /* Rounded corners */
    background-color: #9900cc;
    /* Button color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-size: 16px;
    /* Font size */
}

.button-container button:hover {
    background-color: #7a00a3;
    /* Darker shade on hover */

}

@media (max-width: 820px) {

    .acompColecContainer {
        display: flex;
        flex-direction: column;
    }

    .navListAcompColec{

        width: 90%;
        display: flex;
        justify-content: space-between;

    }

    .navListAcompColec li {

        letter-spacing: 0;
        font-size: 14px;

    }

    footer {
        font-size: 12px;
    }

    .button-container {
        width: 30%;
    }

}