body {

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(-180deg, white, #f3e5ff);

}

body h1 {
    text-align: center;
}

.historicoColecContainer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 64px 64px;
    width: 98%;
    padding: 1%;
    margin-bottom: 10%;

}

.historicoColecContainer img {

    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;


}


.historicoColecContainer a {

    text-decoration: none;
    color: #9900cc;

}

.navListHistoColec {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.historicoColecContainer a:hover {

    text-decoration: underline;

}


@media (max-width: 820px){

    .historicoColecContainer{
        display: flex;
        flex-direction: column;
    }

    .navListHistoColec{

        width: 90%;
        display: flex;
        justify-content: space-between;

    }

    .navListHistoColec li {

        letter-spacing: 0;
        font-size: 14px;

    }

}
