h1 {
    text-align: center;
    margin: 20px 0;
    color: #9900cc;
}

.profileColectorData {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.profileColectorData div {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileColectorData strong {
    width: 30%;
    font-weight: bold;
}

.profileColectorData input {
    width: 65%;
    padding: 10px;
    border: 1px solid #5600CF;
    border-radius: 5px;
    font-size: 16px;
}

.editButton,
.deleteButton {
    padding: 10px 15px;
    background-color: #9900cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
}

.editButton:hover,
.deleteButton:hover {
    background-color: #7a00a3;
}

.deleteButton {
    background-color: red;
}

.deleteButton:hover {
    background-color: darkred;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: linear-gradient(-180deg, white, #f3e5ff);
}

body h1 {
    text-align: center;
    font-weight: initial;
}

.perfilContainerSeller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 64px 64px;
    width: 98%;
    padding: 1%;
    margin-bottom: 2%;
}

.perfilContainerSeller img {
    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;
}

.perfilContainerSeller a {

    text-decoration: none;
    color: #9900cc;

}

.navList {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 64px 64px 0 0;
}

footer a {
    text-decoration: none;
    color: #9900cc;
    margin-left: 16px;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 820px) {
    .perfilContainerSeller {
        display: flex;
        flex-direction: column;
    }

    .navList {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .navList li {
        letter-spacing: 0;
        font-size: 14px;
    }

    footer {
        font-size: 12px;
    }
}