body {

    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;

    background: linear-gradient(-180deg, white, #f3e5ff);

}

body h1 {
    text-align: center;
    font-weight: initial;
}

.certifyContainerSeller {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 0px 0px 64px 64px;
    width: 98%;
    padding: 1%;
    margin-bottom: 1%;

}

.certifyContainerSeller img {

    width: 318px;
    height: 159px;
    max-width: 100%;
    max-height: 100%;


}

.certifyContainerSeller a {

    text-decoration: none;
    color: #9900cc;

}

.certifyContainerSeller a:hover {

    text-decoration: underline;

}

.navList-certify {

    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

footer {
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: linear-gradient(-180deg, white, #cb8fff);
    border-radius: 64px 64px 0 0;
}

footer a {
    text-decoration: none;
    color: #9900cc;
    margin-left: 16px;
}

footer a:hover {
    text-decoration: underline;
}

table {
    align-self: center;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #5600CF;
    padding: 8px;
    text-align: center;

}

td {
    color: #9900cc;
}

a {
    text-decoration: none;
    color: inherit;
    /* Makes the link color inherit from the td */
}

a:hover {
    text-decoration: underline;
    /* Underline on hover */
}

@media (max-width: 820px) {

    .certifyContainerSeller {

        display: flex;
        flex-direction: column;

    }

    .navList-certify {

        width: 90%;
        display: flex;
        justify-content: space-between;

    }

    .navList-certify li {

        letter-spacing: 0;
        font-size: 14px;

    }

    footer {

        font-size: 12px;

    }
}